 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>联系我们 - {web name='title' /}</title>
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/public/adu/css/common.css">
    <link rel="stylesheet" href="/public/adu/css/contact.css">
</head>
<body>
{include file="Public/header" /}
<div class="contact main">
    <div class="art-title">联系我们</div>
    <div class="contact-con">
        <div>
            <img src="/public/adu/images/add.png" class="img-responsive fix" alt="">
            <p class="title">公司地址</p>
            <p>{web name='address' /}</p>
        </div>
        <div>
            <img src="/public/adu/images/tels.png" class="img-responsive fix" alt="">
            <p class="title">联系电话</p>
            <p>{web name='tel' /}</p>
        </div>
        <div>
            <img src="/public/adu/images/wx.png" class="img-responsive fix" alt="">
            <p class="title">公众号</p>
            <img src="/public/adu/images/code.png" class="img-responsive code" alt="">
        </div>
    </div>
    <div class="map" style="text-align:center">
        {include file="Public/map" /}
    </div>
</div>
<div class="mes main">
    <div class="mes-title">在线留言</div>
    <div class="mes-con">
        <div class="form">
            <p>如果你对我们的项目感兴趣或有什么问题，欢迎来此咨询。</p>
            <p>我们将在24小时内给予答复，个人信息我们将严格保密。</p>
            <p>注：下表*部分为必填项</p>
            <form action="{guestbook /}" method="post" id="contactus">
                <div><span>*标题：</span><input type="text" name="title" required="required" /></div>
                <div><span>*姓名：</span><input type="text" name="username" required="required" /></div>
                <div><span>*手机：</span><input type="text" name="tel" required="required" /></div>
                <div><span>*内容：</span><textarea name="content" id="liuyan" cols="40" rows="5"></textarea></div>
                <div><button>提交</button></div>
            </form>
        </div>
        <div><img src="/public/adu/images/contact.png" class="img-responsive" alt=""></div>
    </div>
</div>
{include file="Public/footer" /}
</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/adu/js/common.js"></script>
<script src="/public/adu/js/contact.js"></script>
</html>