<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>招商加盟 - {web name='title' /}</title>
    <!--<link rel="stylesheet" href="css/bootstrap.css">-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/public/adu/css/common.css">
    <link rel="stylesheet" href="/public/adu/css/business.css">
</head>
<body>
{include file="Public/header" /}
<div class="business main">
    <img src="/public/adu/images/big.png" class="img-responsive" alt="">
    <div class="bus-con">
        <div class="bus-title">阿度快修平台在河南省上线服务，目前已有诸多维修师傅在平台入驻，平台具备丰富的维修类别为业主解决了生活中的维修难题。</div>
        <div class="bus-list">
            <div>
                <div class="bus-pic"><img src="/public/adu/images/bus1.png" class="img-responsive" alt=""></div>
                <div class="bus-art">1、加盟商有足够的热情，有创业的决心，有长期投资的能力，并且有能力独自承担经营带来的风险；</div>
            </div>
            <div>
                <div class="bus-art">2、加盟商认同阿度快修的经营理念，有着良好的个人信誉，懂得自觉维护阿度快修的品牌形象，愿意无条件服从总部的管理；</div>
                <div class="bus-pic"><img src="/public/adu/images/bus1.png" class="img-responsive" alt=""></div>
            </div>
            <div>
                <div class="bus-pic"><img src="/public/adu/images/bus1.png" class="img-responsive" alt=""></div>
                <div class="bus-art">3、加盟商在当地有一定的社会人脉和影响力，能很好地处理人际关系，能利用自己的资源来拓展销售渠道，有足够的后续资金来支持；</div>
            </div>
            <div>
                <div class="bus-art">4、加盟商在当地有自己的互联网大V用户受众，可快速实现资源变现者优先考虑。</div>
                <div class="bus-pic"><img src="/public/adu/images/bus1.png" class="img-responsive" alt=""></div>
            </div>
        </div>
        <div class="pic-bottom">
            通过以上讲解，相信大家对阿度互联网维修平台加盟条件已经有所了解。这样看来阿度互联网维修平台加盟条件并不苛刻，阿度互联网维修平台为大家尽力解决烦恼，深受消费者信赖。我们在创造未来，维修行业的移动互联网＋，您还在等什么呢？
        </div>
    </div>
</div>
   {include file="Public:footer" /}
</body>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/adu/js/common.js"></script>
<script src="/public/adu/js/business.js"></script>
</html>