<div class="bottom-nav hidden-sm hidden-xs">

    <div class="main">

        <ul>

            <li>

                <p class="nav-title">关于我们</p>

                <p><a href="{:url('listing/index',array('cid'=>7,'qie_id'=>1))}">关于阿度</a></p>

                <p><a href="{:url('listing/index',array('cid'=>7,'qie_id'=>2))}">阿度宗旨</a></p>

                <p><a href="{:url('listing/index',array('cid'=>7,'qie_id'=>3))}">阿度愿景</a></p>

            </li>

            <li>

                <p class="nav-title">企业文化</p>

                <p><a href="{:url('listing/index',array('cid'=>10,'qie_id'=>1))}">基本文化</a></p>

                <p><a href="{:url('listing/index',array('cid'=>10,'qie_id'=>2))}">核心企业文化</a></p>

                <p><a href="{:url('listing/index',array('cid'=>10,'qie_id'=>3))}">企业发展理念</a></p>

                <p><a href="{:url('listing/index',array('cid'=>10,'qie_id'=>4))}">企业经营理念</a></p>

            </li>

            <li>

                <p class="nav-title">阿度学苑</p>

                <p><a href="{:url('listing/index',array('cid'=>15))}">家电维修知识</a></p>

                <p><a href="{:url('listing/index',array('cid'=>21))}">汽车维修方法</a></p>

                <p><a href="{:url('listing/index',array('cid'=>22))}">手机/数码维修知识</a></p>

                <p><a href="{:url('listing/index',array('cid'=>23))}">微波类电器维修知识</a></p>

            </li>

            <li>

                <p class="nav-title">招商加盟</p>

                <p><a href="{:url('listing/index',array('cid'=>16))}">加盟条件</a></p>

            </li>

            <li>

                <p class="nav-title">联系我们</p>

                <p><a href="{:url('listing/index',array('cid'=>17))}">联系我们</a></p>

            </li>

        </ul>

        <div class="code">

            <img src="/public/adu/images/code.png" alt="">

            <p>码上关注  惊喜连连</p>

        </div>

        <div class="tel">

            <img src="/public/adu/images/tel.png" alt="">

            <p>客服电话</p>

            <p>{web name='tel' /}</p>

        </div>

    </div>

</div>

<div class="foot hidden-sm hidden-xs">

    版权所有@2018 阿度快修保留所有权利

</div>